.titulosStatistics{
    text-decoration: underline;
}



.CardsRow{
    padding:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;  
}


.BoxTarjetaPadre{

    display:flex;
    flex-direction: column;
    align-items: center;
    margin:5px;
    border: solid 2px rgb(84, 84, 230);
    border-radius: 10px;
    justify-content: center;
    width: 180px;
    height: 100px;
    background-color: white;

}


.BoxInternoPadre{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.BoxInternoPadre-primary{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 3px blue;
    border-radius: 10px;
    padding: 10px

}

.BoxInternoPadre-success{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 3px red;
    border-radius: 10px;
    padding: 10px
}

.BoxInternoPadre-warning{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 3px green;
    border-radius: 10px;
    padding: 10px

}

.DivTituloYNumero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    margin-bottom: 10px;
}


.novedad{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;

}

.novedadLastPr{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
    ;

}

.imagenNovedad{
    width: 100%;
    border-radius: 10px;
    
}

.categoriasProd{
    display: flex;
    flex-direction:column;
    border: 2px solid black;
    border-radius: 10px;
    margin:40px;
    align-items: center;
}

.categoriasProd h2{
    margin-top: 10px;
    margin-bottom: 0px;
}


.stat{
    padding-top: 1px;
   
}

main{
    background-image: url("../images/fondo2.jpg")
}


.mainProductList{

    display: flex;
    flex-direction: row;
    
}

.mainProductList1{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.imagenProd{
    width: 80%;
}

.ProdCardsRow{
    flex-direction: row;
    flex-wrap:wrap;
    padding:40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around
   
}

.BoxProdPadre{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px grey solid;
    border-radius: 5px;
    margin-bottom: 20px;

}

.productos{
    margin-left: 3px;
    margin-right: 3px;

}

.DivSimbolo{
    color:black;
    margin-right: 10px;
}

.DivSimbolo1{
    color:black;
    padding-right: 20px;
}

.divNumero{
    font-weight: 800;
}



.BoxTarjetaPadre1{

    display:flex;
    flex-direction: column;
    align-items: center;
    margin:5px;
    border: solid 2px rgb(111, 220, 111);
    border-radius: 10px;
    justify-content: center;
    width: 180px;
    height: 100px;
    background-color: white;
    padding-right: 5px;
   

}

.BoxProdPadre1{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px grey solid;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left:5px;
    margin-right:5px;
    background-color: white;
}

.imagenProd1{
    width: 80%;
    padding-top: 8px;

}

.tituloListadoProd{
    padding-top: 15px;
    text-decoration: underline;
    font-weight: 600;
}

.novedadInterior{
    border: solid black 1px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
    background-color: white;

}